body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(9, 50px);    
    grid-gap: 10px;
    margin: 10px 10;
}

.square {
position: relative;
width: 50px;
height: 50px;
background: #ccc;
margin: 5px;
display: inline-block;
}