body::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

@keyframes flicker {
  0% {
  opacity: 0.27861;
  }
  5% {
  opacity: 0.34769;
  }
  10% {
  opacity: 0.23604;
  }
  15% {
  opacity: 0.90626;
  }
  20% {
  opacity: 0.18128;
  }
  25% {
  opacity: 0.83891;
  }
  30% {
  opacity: 0.65583;
  }
  35% {
  opacity: 0.67807;
  }
  40% {
  opacity: 0.26559;
  }
  45% {
  opacity: 0.84693;
  }
  50% {
  opacity: 0.96019;
  }
  55% {
  opacity: 0.08594;
  }
  60% {
  opacity: 0.20313;
  }
  65% {
  opacity: 0.71988;
  }
  70% {
  opacity: 0.53455;
  }
  75% {
  opacity: 0.37288;
  }
  80% {
  opacity: 0.71428;
  }
  85% {
  opacity: 0.70419;
  }
  90% {
  opacity: 0.7003;
  }
  95% {
  opacity: 0.36108;
  }
  100% {
  opacity: 0.24387;
  }
}

body {
    font-family: Arial, sans-serif;
    color: #ccc;
    opacity: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
}
    header {
    background-image: url("https://i.pinimg.com/originals/29/c6/8c/29c68c38857c0c994ec565ad2dd15776.gif");
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.game-container {
    display: grid;
    opacity: 100%;
    background-image: ("https://i.pinimg.com/originals/29/c6/8c/29c68c38857c0c994ec565ad2dd15776.gif");
    grid-template-columns: repeat(9, 50px);    
    grid-gap: 10px;
    margin: 10px 0;
}

.square {
position: relative;
opacity: 100%;
width: 50px;
height: 50px;
background: #ccc;
margin: 5px;
display: inline-block;
}
