body::before {
  content: "";
  position: fixed;
  inset: 0;
  background:
    linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  background-size: 100% 2px, 3px 100%;
  z-index: 9999;
  pointer-events: none;
}

body {
  font-family: Courier New;
  color: #ccc;
  background: #111;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /*overflow: hidden; */
  box-sizing: border-box;
}

header {
  background-image: url("https://i.pinimg.com/originals/29/c6/8c/29c68c38857c0c994ec565ad2dd15776.gif");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 2vh 0;
  text-align: center;
  width: 100%;
}

header h1 {
  font-size: calc(2vw + 20px);
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.logo-left {
  width: 60px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

.logo-right {
  width: 60px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.nav a {
  width: 275px;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 5px;
  color: #29f237;
  text-decoration: none;
  border-radius: 5px;
  margin: 0px;
}

.nav {
  margin-bottom: 15px;
  text-align: center;
}

.nav a:hover {
  background-color: #29f237;
  color: #031204;
}

.line {
  color: #29f237;
  width: 100%;
}

.box {
  width: 35%;
  display: inline-block;
  background-color: #29f237;
  color: #031204;
  margin: 50px;
  text-align: center;
  padding-bottom: 30px;
  border-radius: 5px;
}

.box:hover {
  background-color: #1ac426;
}

.game-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4vw;
  width: 100%;
  margin-top: 20px;
  flex-wrap: wrap;
  /* allows stacking on small screens */
}

.game-container {
  display: grid;
  grid-template-columns: repeat(9, minmax(30px, 1fr));
  gap: 0.4vw;
  width: 45vw;
  max-width: 500px;
  margin: 20px auto;
  justify-content: left;
}


.square {
  background: #444;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.square.up {
  background: #00cc66;
}


.num {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(1.5vw + 10px);
  color: black;
  font-weight: bold;
  display: none;
}

.square.up .num {
  display: block;
}

.static_sheet {
  display: grid;
  grid-template-columns: repeat(9, minmax(10px, 1fr));
  gap: 4px;
  width: 30vw;
  max-width: 250px;
  margin: 10px auto;
}

.filledsquare {
  background: #444;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 4px;
  position: relative;
}

.numStat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(0.6vw + 10px);
  color: white;
}

.square.locked .num {
  display: block !important;
  color: #fff;
  font-weight: bold;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: calc(1vw + 10px);
  border-radius: 10px;
}

footer {
  color: #031204;
  background-color: #29f237;
  width: 800px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.logo-left {
  width: 60px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

.logo-right {
  width: 60px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}